h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(4, 155, 155);
}

#ttl {
  font-size: 30px;
  color: rgb(104, 84, 155);
  font-weight: bolder;
}

a:link, a:visited {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(40, 96, 152);
  text-decoration: none;
}

a:hover {
  color:rgb(60, 165, 210)
}

#frame {
  background-color: rgb(197, 207, 244);
  border-radius: 15px;
  width: 400px;
  margin: auto;
  border: 0px;
  padding: 30px;
}

body {
  background-color:rgb(255, 255, 255);
}