table, th, td {
  border: 2px solid rgb(0, 153, 255);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

h1 {
  background-color: darkslateblue;
  color: white;
}

th{
  background-color: rgb(179, 178, 235);
}

.order{
  color: rgb(230, 64, 64);
  font-weight: bolder;
  font-style: italic;
}